<div class="main">

    <!--
      Heading: Eg: Question No. 1, Instructions, Questions
    -->
    <div class="bg-secondary text-white p-2 pl-3 w-100 position-absolute d-flex"
      style="top:0;left: 0;">
      <!-- main heading -->
      <span class="m-auto">
         Question Paper
      </span>
     
    </div>
    
    <!--
      Page content.
      Basically <MCQ component> should be placed inside here.
    -->
    <div class="page-content">
  
     <ul>
       <li>
         Just beat the clock
       </li>
     </ul>
  
    </div>
  
    <!--
      page footer. basically contains buttons.
    -->
  
    <div class="d-flex p-3 position-absolute w-100 bg-white border-top"
      style="bottom:0; left: 0;">

      <button
        type="button"
        class="btn btn-sm btn-primary m-auto"
        (click)="closeTheComponent()"
        >Back</button>

    </div>
  
  
  </div>
  